.Red {
  color: red;
}

.Bold {
  font-weight: bold;
  color: green;
}
.Cockpit button {
  background-color: green;
  padding: 16px;
}
.Cockpit button:hover {
  background-color: lightgreen;
  padding: 18px;
}
.Cockpit button.Red {
  background-color: red;
  padding: 16px;
}
.Cockpit button.Red:hover {
  background-color: lightgray;
  padding: 18px;
}
